/*CSS Style Sheet*/

/*DIV --> DIRECT PARENT OF MAP COMPONENT*/
.map {
  height: 100%;
  width: 100%;
  position: relative;
}

/*DIV --> PARENT OF COMPONENT WITH MAP AND SEARCH FORM*/
#map-container {
}

#geolocation-container {
  width: 50%;
  height: 100vh;
  border: 10px solid red;
}

#flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

#login-form {
  margin: 1rem 0px 0px 1rem;
}

#search {

}

* {
  box-sizing: border-box;
}

#absolute-container {

}
